<link rel="stylesheet" href="/client/css/sidebar.css" />
<aside class="sidebar">
  <div class="sidebar-header">LazyChat</div>
  <ul class="sidebar-list">
    <li class="sidebar-item active" data-id="chat">
      <a class="sidebar-link" href="/chat">AI Assistant</a>
    </li>
    <li class="sidebar-item" data-id="statistic">
      <a class="sidebar-link" href="/statistic">Thống kê</a>
    </li>
    <li class="sidebar-item" data-id="transaction">
      <a class="sidebar-link" href="/transaction">Lịch sử giao dịch</a>
    </li>
  </ul>
</aside>
<script src="/client/js/sidebar.js"></script>
